.dashboard-container {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    display: flex;
  align-items: center;
  gap: 10px; 
    justify-content: space-between;
    background-color: #231A6D;
    padding: 1rem;
    color: white;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
  }
  
  .navbar .nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .navbar .logout-btn button {
    padding: 10px 20px;
    background-color: #A5D8F5;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .hero-section {
    background-color: #A5D8F5;
    color: #231A6D;
    padding: 2rem;
    text-align: center;
  }
  
  .success-stories {
    padding: 2rem;
    text-align: center;
  }
  
  .success-stories .story {
    margin: 1rem;
  }
  
  .success-stories .story img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .media-gallery {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .media-gallery .gallery img {
    width: 200px;
    height: 200px;
    margin: 0 10px;
  }
  
  .footer {
    background-color: #231A6D;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  .service {
    background-color: #231A6D; 
  }
  .service h3 {
    color: white; 
  }
  .services {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px 20px;
    background-color: #ECF0F1;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  #achietitle{
    text-align: center;
  }